.movie {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding: 5px;
  height: 100%;

  &__img {
    border-radius: 15px;
    box-shadow: 0 1px 15px -4px #000000;
    height: 100%;
    width: 100%;
  }

  &__movie-name {
    margin: 15px 0 10px 0;
  }
}

a {
  list-style: inherit;
  color: inherit;
  text-decoration: inherit;
}
