:host {
  text-align: center;
  transition: 0.3s;
  border-radius: 10px;
  scale: 1;
  width: 16.6%;
}

:host:hover {
  background: black;
  scale: 1.1;
  z-index: 100;
}

.movie {
  padding: 5px;
}

.movie-link {
  color: white;
  text-decoration: none;
}

.movie__movie-name {
  font-size: 18px;
  padding: 10px 0;
}

.movie__img {
  border-radius: 10px;
  box-shadow: 1px 1px 26px -1px #000000;
  width: 100%;
}
